html {
    /* background: url(../images/AmosEaton_wo_text.png) no-repeat center center fixed; */
    background: rgb(220,220,230);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    /* height: 100%; */
    /* width: auto; */
    /* left: 0; */
    /* top: 0; */
}

body {
    font-family:verdana;
    margin:0;
    padding:0;}
nav {font-family:verdana;}

      a.one:link, a.one:visited {
      background-color: none; 
      padding: 14px 25px;
      border: 2px solid white;
      color: white;
      text-align:center;
      text-decoration: none;
      display: inline-block;
      }

      a.one:hover, a.one:active {
      background-color: rgba(0,0,0,.2);
      <!-- opacity: 0.2; -->
      }
